@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-optical-sizing: auto;
}

.outline-title {
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: currentColor;
}

#x-fill {
  background-image: url("../assets/x.svg");
  background-repeat: repeat;
  background-size: cover;
  background-size: 25% 25%;
}

/*equivalent to md in tailwind*/
@media (min-width: 768px) {
  .outline-title.outline-rise {
    -webkit-text-stroke-width: 2px;
  }

  #sparkle-block {
    grid-template-columns: 5rem minmax(0, 1fr);
  }
}
